<h2>Relatório Médico</h2>
<p><strong>Paciente:</strong> {{001}}</p>
<p><strong>Nome da mãe:</strong> {{002}}</p>
<p><strong>Data de nascimento:</strong> {{003}}</p>
<p><strong>Queixa principal:</strong><br>{{007}}</p>
<p><strong>Atendimento clínico inicial:</strong><br>{{008}}</p>
<p><strong>Exame físico:</strong><br>{{008.1}}</p>
<p><strong>Exames complementares:</strong><br>{{009.1}}</p>
<p><strong>Hipótese diagnóstica:</strong><br>{{010}}</p>
<p><strong>Conduta / plano de ação:</strong><br>{{014}}</p>
<p class="signature">{{019}}<br>{{020}}</p>
